.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:600px;
    height:100vh;
}

mat-card{
    width: 400px;
    height: auto;
    background-color: #eaafc8;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 1;
    padding:20px;
}

mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
mat-card-content{
    display: flex;
    flex-direction: column;
}
mat-form-field{
    width: 100%;
    margin-bottom: 16px;
}

button{
    width: 100%;
}


@media(max-width:576px){
    mat-card{
        width:auto;
        height:auto;
        padding:10px;
    }
}