<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
             <form [formGroup]="login" (ngSubmit)="OnSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix>email</mat-icon>
                    <input matInput formControlName="Email" placeholder="Enter your email"/>
                    <mat-error *ngIf="login.get('Email')?.invalid && (login.get('Email')?.dirty || login.get('Email')?.touched)">
                       {{getErrorMessage('Email')}}
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="fill">
                     <mat-label>Password</mat-label>
                      <mat-icon matPrefix>lock</mat-icon>
                     <input matInput formControlName="Password" [type]="hidepassword?'password':'text'" placeholder="enter your password"/> 
                     <mat-error *ngIf="login.get('Password')?.invalid && (login.get('Password')?.dirty || login.get('Password')?.touched)" >{{getErrorMessage('Password')}}</mat-error>
                     <mat-icon  mat-icon-button matSuffix type="button" (click)="togglePassword()">{{hidepassword?'visibility_off':'visibility'}}</mat-icon>
                </mat-form-field>
                 <span>Create an account:<a [routerLink]="['/signup']">SignUp</a></span>
                <br/>
                
                <button [disabled]="login.invalid" mat-raised-button color="primary" type="submit">Submit</button>
             </form>
        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>